
#logo{
    font-family: 'Sansita', sans-serif !important;
    position: relative;
    width: 188px;
    
    left: 50px !important;
    
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #E09F3E;
}

#navitem{
    height:30px;
    width: 100px;
    margin-right: 38px;
    display: inline-block;
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;
    position: relative;
    top: 5px;
    
}
#navitem:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #E09F3E;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  #navitem:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  #navitem a{
    text-decoration: none;
    color: #000000;
  }

  #img{
    position: relative;
    width:100%;
    object-fit: cover;
    display: block;
    overflow: hidden;
  }
 
#opentop{
  font-family: 'Source Sans Pro' !important;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 64px;

  color: #000000;
}
#opensub{
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
}

button{
text-align: center;
border: none;
}
#openbutton{
  
  width: 150px;
  height: 50px;
  
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  display: flex;
  

  color: #FFFFFF;
  background: #E09F3E;
}
  
  
  
  
  
  
  
  
  
  @media only screen and (max-width: 768px) {
    #img{
      height: 460px;
    }
    #splashwrite{
  
      position: relative;
      top: -370px;
      margin-left: 40px;
      
  }
  #opentop{
    font-size: 10vh;
    color: #FFFFFF;
  }
  #opensub{
    width: 80vw;
    color: #FFFFFF;
  }
  
  button{
  text-align: center;
  border: none;
  }
 
    
  }
  @media only screen and (min-width: 769px) {
    #img{
      height: 700px;
    }
    #opentop{
      width: 340px;
      position: relative;
      left: 50px;
      top: 165px;
    }
    #opensub{
      width: 332px;
      position: relative;
      left: 50px;
      top: 190px;
      
    }
    #openbutton{
      position: relative;
      left: 50px;
      top: 210px;
      align-content: center;
    }
    #stext{
  
      width: 25vw;
  }
  #splashwrite{
  
    background: rgba(64, 58, 58, 0.08);
}
  }